{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>EEL Yonsei</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <!-- <link rel="shortcut icon" href="favicon.ico"> -->

    <!-- Web Fonts -->
    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static "plugins/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/one.style.css" %}">

    <!-- CSS Footer -->
    <link rel="stylesheet" href="{% static "css/footers/footer-v7.css" %}">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static "plugins/animate.css" %}">
    <link rel="stylesheet" href="{% static "plugins/line-icons/line-icons.css" %}">
    <link rel="stylesheet" href="{% static "plugins/font-awesome/css/font-awesome.min.css" %}">
    <!-- <link rel="stylesheet" href="assets/plugins/pace/pace-flash.css"> -->
    <!-- <link rel="stylesheet" href="assets/plugins/owl-carousel/owl.carousel.css"> -->
    <link rel="stylesheet" href="{% static "plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css" %}">
    <link rel="stylesheet" href="{% static "plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css" %}">
    <!-- <link rel="stylesheet" href="assets/plugins/login-signup-modal-window/css/style.css"> -->

    <link rel="stylesheet" type="text/css" href="{% static "plugins/fullcalendar-2.6.0/fullcalendar.css" %}">

    <link rel="stylesheet" href="{% static "css/page_search_inner_tables.css" %}">


    <!-- CSS Theme -->
    <link rel="stylesheet" href="assets/css/theme-colors/default.css" id="style_color">
    <link rel="stylesheet" href="assets/css/theme-skins/one.dark.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="assets/css/custom.css">
</head>

<!--
The #page-top ID is part of the scrolling feature.
The data-spy and data-target are part of the built-in Bootstrap scrollspy function.
-->
<body id="body" data-spy="scroll" data-target=".one-page-header" class="demo-lightbox-gallery">
    <!--=== Header ===-->
    <nav class="one-page-header one-page-header-style-2 navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="menu-container page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#intro">
                    <!-- <span>E</span>nvironmental
                    <span>E</span>ngineering
                    <span>L</span>ab -->
                    EEL
                    <!-- <img src="assets/img/logo1.png" alt="Logo"> -->
                </a>
            </div>

            <!-- <div class="log-reg-block-simple cd-log_reg">
                <a class="btn-u cd-signin" href="javascript:void(0);">Login</a>
            </div>

            <div class="top-contact-block">
                <i class="fa fa-phone fa-1"></i> <a href="tel:0 800 2000 123">0 800 2000 123</a>
            </div> -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <div class="menu-container">
                    <ul class="nav navbar-nav">
                        <li class="page-scroll home">
                            <a href="#research">Research</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#professors">Professors</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#members">Members</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#collaborators">Collaborators</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#publications">Publications</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#education">Education</a>
                            <!-- 교과목제목과 yscec링크 -->
                        </li>
                        <li class="page-scroll">
                            <a href="#calender">Calender</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#photographs">Photos</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#news">News</a>
                        </li>
                        <li class="page-scroll">
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!--=== End Header ===-->

    <!-- Promo block BEGIN -->
    <section class="promo-section" id="intro">
        <!-- Fullscreen Static Image BEGIN -->
        <div class="fullscreen-static-image fullheight">
            <!-- Promo Content BEGIN -->
            <div class="container valign__middle">
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 text-center-xs">
                    <h2>{{intro.title}}
                    {% if user.is_superuser %}
                    <a href="{% url "admin:pages_intro_change" intro.id %}" target="_blank"><i class="fa fa-gear"></i></a>
                    {% endif %}
                    </h2>
                    <div class="promo-text">
                        {{intro.content|safe}}
                    </div>
                    <!-- <div class="promo-next">
                        <span class="page-scroll"><a class="btn-u btn-brd btn-brd-hover btn-u-light" href="#about">Learn More</a></span>
                        <span class="page-scroll"><a class="btn-u btn-brd btn-brd-hover btn-u-light" href="#portfolio">Our Work</a></span>
                    </div> -->
                  </div>
                </div>
            </div>
          <!-- Promo Content END -->
        </div>
        <!-- Fullscreen Static Image END -->
    </section>
    <!-- Promo block END -->

    <!-- Colorful Service Blocks -->
    <!-- <section class="container-fluid">
        <div class="row no-gutter equal-height-columns margin-bottom-10">
            <div class="col-sm-4">
                <div class="service-block service-block-purple no-margin-bottom content equal-height-column" style="height: 239px;">
                    <i class="icon-custom icon-md rounded icon-color-light icon-line icon-badge"></i>
                    <h2 class="heading-md font-light">Best Solutions</h2>
                    <p class="no-margin-bottom font-light">Provide; shifting landscape reduce carbon emissions human potential sustainability Jane Addams solve. Global network; care Rockefeller, vaccines equal opportunity human being.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service-block service-block-red no-margin-bottom content equal-height-column" style="height: 239px;">
                    <i class="icon-custom icon-md rounded icon-color-light icon-line icon-fire"></i>
                    <h2 class="heading-md font-light">Excellent Features</h2>
                    <p class="no-margin-bottom font-light">Provide; shifting landscape reduce carbon emissions human potential sustainability Jane Addams solve. Global network; care Rockefeller, vaccines equal opportunity human being.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service-block service-block-aqua no-margin-bottom content equal-height-column" style="height: 239px;">
                    <i class="icon-custom icon-md rounded icon-color-light icon-line icon-directions"></i>
                    <h2 class="heading-md font-light">Creative Ideas</h2>
                    <p class="no-margin-bottom font-light">Provide; shifting landscape reduce carbon emissions human potential sustainability Jane Addams solve. Global network; care Rockefeller, vaccines equal opportunity human being.</p>
                </div>
            </div>
        </div>        
    </section> -->
    <!-- End Colorful Service Blocks -->

<!-- http://htmlstream.com/preview/unify-v1.9/One-Page/one_page_home2.html -->
    <section id="research">
        <!-- Our Vision And Mission -->
        <!-- <div class="bg-color-light"> -->
            <div class="container content-lg">
                <div class="title-v1">
                    <h2>Research</h2>
                </div>
                <div class="col-md-6">
                    <h1 class="margin-bottom-20">Research Interests</h1>
                    <!-- {{researchintro.text|safe}}
                    {% if user.is_superuser %}
                    <a href="{% url "admin:pages_researchintro_change" researchintro.id %}" target="_blank"><i class="fa fa-gear"></i></a>
                    {% endif %} -->

                <div class="row">
                        {% if research %}
                        {% for res in research %}
                        <div class="clearfix margin-bottom-30">
                            <!-- <i class="icon-custom icon-md rounded-x icon-bg-u fa fa-{{res.icon}}"></i> -->
                            <div class="content-boxes-in-v3">
                                <h2 class="heading-sm">{{res.title|safe}}</h2>
                                <p>{{res.content|safe}}
                                {% if user.is_superuser %}
                                <a href="{% url "admin:pages_research_change" res.id %}" target="_blank"><i class="fa fa-gear"></i></a>
                                {% endif %}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% if user.is_superuser %}
                        <a href="{% url "admin:pages_research_add" %}" target="_blank"><i class="fa fa-plus"></i></a>
                        {% endif %}
                </div>
                </div>

                <div class="col-md-6">
                    <h1 class="margin-bottom-20">Current Projects</h1>

                <div class="row">
                        {% if currentprojects %}
                        {% for proj in currentprojects %}
                        <div class="clearfix margin-bottom-30">
                            <!-- <i class="icon-custom icon-md rounded-x icon-bg-u fa fa-{{res.icon}}"></i> -->
                            <div class="content-boxes-in-v3">
                                <h2 class="heading-sm">{{proj.title|safe}}</h2>

                                {% if proj.gmap_lat == '' %}
                                
                                <div class="col-sm-12">
                                {{proj.content|safe}}
                                {% if user.is_superuser %}
                                <a href="{% url "admin:pages_project_change" proj.id %}" target="_blank"><i class="fa fa-gear"></i></a>
                                {% endif %}
                                </div>

                                {% else %}
                                
                                <div class="col-sm-9">
                                {{proj.content|safe}}
                                {% if user.is_superuser %}
                                <a href="{% url "admin:pages_project_change" proj.id %}" target="_blank"><i class="fa fa-gear"></i></a>
                                {% endif %}
                                </div>
                                <div class="col-sm-3">
                                    <div id="proj-map-{{proj.id}}" class="height-100"></div>
                                </div>
                                
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% if user.is_superuser %}
                        <a href="{% url "admin:pages_project_add" %}" target="_blank"><i class="fa fa-plus"></i></a>
                        {% endif %}
                </div>
                    
                </div>
            </div>
        </div>
        <!-- End Our Vision And Mission -->
    </section>

    <section id="professors">
        <!-- Team Block -->
        <div class="team-v1 content-lg bg-color-light">
            <div class="container">
                <div class="title-v1">
                    <h2>Professors</h2>
                    <!-- <p>We <strong>meet</strong> and get to know you. You tell us and we listen. <br>We build your website to realise your vision and we <strong>deliver</strong> the ready product.</p> -->
                </div>

                {% for prof in faculty %}
                {% if forloop.counter0 == 0 %}
                <div class="row team-v6">
                {% elif forloop.counter0|divisibleby:"4"%}
                </div>
                <div class="row team-v6">
                {% endif %}
                <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                    <img alt="" src="{{prof.photo.url}}" class="img-responsive">
                    <span>{{prof.name}}
                    {% if user.is_superuser %}
                    <a href="{% url "admin:pages_faculty_change" prof.id %}" target="_blank"><i class="fa fa-gear"></i></a>
                    {% endif %}
                    </span>
                    <p style="margin-bottom:0">{{prof.email}}</p>
                    <small>{{prof.position}}</small>
                    {{prof.content|safe}}
                    <!-- <ul class="list-inline social-icons-v1">
                        <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
                    </ul> -->
                </div>
                {% if forloop.last %}
                </div>
                {% endif %}
                {% endfor %}
                {% if user.is_superuser %}
                <a href="{% url "admin:pages_faculty_add" %}" target="_blank"><i class="fa fa-plus"></i></a>
                {% endif %}
            </div>
        </div>
        <!-- End Team Block -->
    </section>


    <section id="members">
        <!-- Team Block -->
        <div class="team-v1 content-lg">
            <div class="container">
                <div class="title-v1">
                    <h2>Members</h2>
                    <!-- <p>We <strong>meet</strong> and get to know you. You tell us and we listen. <br>We build your website to realise your vision and we <strong>deliver</strong> the ready product.</p> -->
                </div>

                {% for student in students %}
                {% if forloop.counter0 == 0 %}
                <div class="row team-v6">
                {% elif forloop.counter0|divisibleby:"4"%}
                </div>
                <div class="row team-v6">
                {% endif %}
                <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                    <img alt="" src="{{student.photo.url}}" class="img-responsive">
                    <span>{{student.name}}
                    {% if user.is_superuser %}
                    <a href="{% url "admin:pages_student_change" student.id %}" target="_blank"><i class="fa fa-gear"></i></a>
                    {% endif %}
                    </span>
                    <small>{{student.position}}</small>
                    <p>{{student.content}}</p>
                    <p>{{student.email}}</p>
                    <!-- <ul class="list-inline social-icons-v1">
                        <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
                    </ul> -->
                </div>
                {% if forloop.last %}
                </div>
                {% endif %}
                {% endfor %}

                {% if user.is_superuser %}
                <a href="{% url "admin:pages_student_add" %}" target="_blank"><i class="fa fa-plus"></i></a>
                {% endif %}

                <h1>Alumni</h1>
                {% if alumni %}
                <ul>
                    {% for alumnus in alumni %}
                    <li>{{alumnus.name}}: {{alumnus.content}} {% if user.is_superuser %}<a href="{% url "admin:pages_alumnus_change" alumnus.id %}" target="_blank"><i class="fa fa-gear"></i></a>{% endif %}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                {% if user.is_superuser %}
                <a href="{% url "admin:pages_alumnus_add" %}" target="_blank"><i class="fa fa-plus"></i></a>
                {% endif %}
            </div>
        </div>
        <!-- End Team Block -->
    </section>

    <section id="collaborators" class="bg-color-light">
        <!-- Team Block -->
        <div class="team-v1 content-lg">
            <div class="container">
                <div class="title-v1">
                    <h2>Collaborators</h2>
                    <!-- <p>We <strong>meet</strong> and get to know you. You tell us and we listen. <br>We build your website to realise your vision and we <strong>deliver</strong> the ready product.</p> -->
                </div>

                {% for prof in collaborators %}
                {% if forloop.counter0 == 0 %}
                <div class="row team-v6">
                {% elif forloop.counter0|divisibleby:"4"%}
                </div>
                <div class="row team-v6">
                {% endif %}
                <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                    <img alt="" src="{{prof.photo.url}}" class="img-responsive">
                    <span>{{prof.name}}
                    {% if prof.link %}
                    <a href="{{prof.link}}" target="_blank"><i class="fa fa-home"></i></a>
                    {% endif %}
                    {% if user.is_superuser %}
                    <a href="{% url "admin:pages_collaborator_change" prof.id %}" target="_blank"><i class="fa fa-gear"></i></a>
                    {% endif %}
                    </span>
                    <small>{{prof.position}}</small>
                    {{prof.content|safe}}
                    <p>{{prof.email}}</p>
                    <!-- <ul class="list-inline social-icons-v1">
                        <li><a href="#"><i class="rounded-x fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="rounded-x fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="rounded-x fa fa-google-plus"></i></a></li>
                    </ul> -->
                </div>
                {% if forloop.last %}
                </div>
                {% endif %}
                {% endfor %}

                {% if user.is_superuser %}
                <a href="{% url "admin:pages_collaborator_add" %}" target="_blank"><i class="fa fa-plus"></i></a>
                {% endif %}
            </div>
        </div>
        <!-- End Team Block -->
    </section>


<!-- http://htmlstream.com/preview/unify-v1.9/page_home14.html -->
    <section id="publications">
        <div class="container content-lg">
            <div class="title-v1">
                <h2>Publications</h2>
                <!-- <p>We do <strong>things</strong> differently company providing key digital services. <br> -->
                <!-- Focused on helping our clients to build a <strong>successful</strong> business on web and mobile.</p> -->
            </div>

            <h3>International Journals</h3>
            {% if international_featured %}
            {% for publication in international_featured %}
            <div class="row">
                <h5>
                    {{publication.content}}
                    {% if publication.link %}
                    <a href="{{publication.link}}" target="_blank">
                        <i class="fa fa-file-text"></i>
                    </a>
                    {% endif %}
                    {% if user.is_superuser %}
                    <a href="{% url "admin:pages_publication_change" publication.id %}" target="_blank"><i class="fa fa-gear"></i></a>
                    {% endif %}
                </h5>
            </div>
            {% endfor %}
            {% endif %}

            <a data-toggle="collapse" href="#collapse-international" aria-expanded="false" aria-controls="collapse-international">See all international journals <i class="fa fa-arrow-down"></i></a>
            <div class="collapse" id="collapse-international">
                {% if international %}
                {% for publication in international %}
                <div class="row">
                    <h5>
                    {{publication.content}}
                    {% if publication.link %}
                    <a href="{{publication.link}}" target="_blank">
                        <i class="fa fa-file-text"></i>
                    </a>
                    {% endif %}
                    {% if user.is_superuser %}
                    <a href="{% url "admin:pages_publication_change" publication.id %}" target="_blank"><i class="fa fa-gear"></i></a>
                    {% endif %}
                </h5>  
                </div>
                {% endfor %}
                {% else %}
                <div class="row">
                    <p>No journals</p>
                </div>
                {% endif %}
            </div>

            <h3 class="margin-top-20">Domestic Journals</h3>
            {% if domestic_featured %}
            {% for publication in domestic_featured %}
            <div class="row">
                <h5>
                    {{publication.content}}
                    {% if publication.link %}
                    <a href="{{publication.link}}" target="_blank">
                        <i class="fa fa-file-text"></i>
                    </a>
                    {% endif %}
                    {% if user.is_superuser %}
                    <a href="{% url "admin:pages_publication_change" publication.id %}" target="_blank"><i class="fa fa-gear"></i></a>
                    {% endif %}
                </h5>
            </div>
            {% endfor %}
            {% endif %}

            <a data-toggle="collapse" href="#collapse-domestic" aria-expanded="false" aria-controls="collapse-domestic">See all domestic journals <i class="fa fa-arrow-down"></i></a>
            <div class="collapse" id="collapse-domestic">
                {% if domestic %}
                {% for publication in domestic %}
                <div class="row">
                    <h5>
                    {{publication.content}}
                    {% if publication.link %}
                    <a href="{{publication.link}}" target="_blank">
                        <i class="fa fa-file-text"></i>
                    </a>
                    {% endif %}
                    {% if user.is_superuser %}
                    <a href="{% url "admin:pages_publication_change" publication.id %}" target="_blank"><i class="fa fa-gear"></i></a>
                    {% endif %}
                </h5>  
                </div>
                {% endfor %}
                {% else %}
                <div class="row">
                    <p>No journals</p>
                </div>
                {% endif %}
            </div>

            <h3 class="margin-top-20">Books</h3>
            {% if book_featured %}
            {% for publication in book_featured %}
            <div class="row">
                <h5>
                    {{publication.content}}
                    {% if publication.link %}
                    <a href="{{publication.link}}" target="_blank">
                        <i class="fa fa-file-text"></i>
                    </a>
                    {% endif %}
                    {% if user.is_superuser %}
                    <a href="{% url "admin:pages_publication_change" publication.id %}" target="_blank"><i class="fa fa-gear"></i></a>
                    {% endif %}
                </h5>
            </div>
            {% endfor %}
            {% endif %}

            <a data-toggle="collapse" href="#collapse-book" aria-expanded="false" aria-controls="collapse-book">See all books <i class="fa fa-arrow-down"></i></a>
            <div class="collapse" id="collapse-book">
                {% if book %}
                {% for publication in book %}
                <div class="row">
                    <h5>
                    {{publication.content}}
                    {% if publication.link %}
                    <a href="{{publication.link}}" target="_blank">
                        <i class="fa fa-file-text"></i>
                    </a>
                    {% endif %}
                    {% if user.is_superuser %}
                    <a href="{% url "admin:pages_publication_change" publication.id %}" target="_blank"><i class="fa fa-gear"></i></a>
                    {% endif %}
                </h5>  
                </div>
                {% endfor %}
                {% else %}
                <div class="row">
                    <p>No books</p>
                </div>
                {% endif %}
            </div>

            {% if user.is_superuser %}
            <div>
            <a href="{% url "admin:pages_publication_add" %}" target="_blank"><i class="fa fa-plus"></i></a>
            </div>
            {% endif %}
        </div><!--/end container-->
    </section>

    <section id="education" class="bg-color-light">
        <!-- Team Block -->
        <div class="team-v1 content-lg">
            <div class="container">
                <div class="title-v1">
                    <h2>Education</h2>
                    <!-- <p>We <strong>meet</strong> and get to know you. You tell us and we listen. <br>We build your website to realise your vision and we <strong>deliver</strong> the ready product.</p> -->
                </div>
                <div class="table-search-v2">
                    <h3>Teaching Philosophy</h3>
                    <ul class="margin-bottom-30">
                        <li>To maximize implementation of the potentials of students</li>
                        <li>To facilitate interdisciplinary researches and self-motivated education</li>
                    </ul>
                    <h3>Lectures</h3>
                    <div class="table-responsive">
                        <table class="table" style="color:#555">
                            <thead>
                                <tr>
                                    <th>name and description</th>
                                    <th>code</th>
                                    <th>credit</th>
                                </tr>
                            </thead>
                            {% if lectures %}
                            <tbody>
                                {% for lecture in lectures %}
                                <tr>
                                    <td class="td-width">
                                        <h3>
                                            {{lecture.title}}
                                            {% if lecture.link != "" %}
                                            <a href="{{lecture.link}}" target="_blank"><i class="fa fa-home"></i></a>
                                            {% endif %}
                                            {% if user.is_superuser %}
                                            <a href="{% url "admin:pages_lecture_change" lecture.id %}" target="_blank"><i class="fa fa-gear"></i></a>
                                            {% endif %}
                                        </h3>
                                        <small>{{lecture.small_description}}</small>
                                        {{lecture.description|safe}}
                                    </td>
                                    <td>{{lecture.code}}</td>
                                    <td>{{lecture.credit}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            {% endif %}
                        </table>
                        {% if user.is_superuser %}
                        <a href="{% url "admin:pages_lecture_add" %}" target="_blank"><i class="fa fa-plus"></i></a>
                        {% endif %}
                    </div>
                    <h3>Useful Links</h3>
                    <div class="table-responsive">
                    {% if usefullinks %}
                    <table class="table">
                        <tbody>
                            {% for link in usefullinks %}
                            <tr>
                                <td>
                                    <h5>
                                        <a href="{{link.link}}" target="_blank">{{link.title}}</a>
                                        {% if user.is_superuser %}
                                        <a href="{% url "admin:pages_usefullink_change" link.id %}" target="_blank"><i class="fa fa-gear"></i></a>
                                        {% endif %}
                                    </h5>
                                </td>
                                <td>{{link.description|safe}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    {% if user.is_superuser %}
                    <a href="{% url "admin:pages_usefullink_add" %}" target="_blank"><i class="fa fa-plus"></i></a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End Team Block -->
    </section>

    <!-- Calender Section -->
    <section id="calender">
        <div class="container content-lg">
            <div class="title-v1">
                <h2>Calender
                    {% if user.is_superuser %}
                    <a href="{% url "admin:pages_calender_changelist" %}" target="_blank"><i class="fa fa-gears"></i></a>
                    {% endif %}
                </h2>
            </div>
            <div id="fullcalendar"></div>
        </div>
    </section>
    <!-- End Calender Section -->

<!-- http://htmlstream.com/preview/unify-v1.9/portfolio_4_columns_grid.html -->
    <!-- Portfolio Section -->
    <section id="photographs" class="bg-color-light">
        <div class="container content-lg">
            <div class="title-v1">
                <h2>Photographs</h2>
            </div>

            <!--=== Cube-Portfdlio ===-->
            <div class="cube-portfolio margin-bottom-60">
                <div id="filters-container" class="cbp-l-filters-text content-xs">
                    <!-- <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div> --> |
                    {% if photocategories %}
                    {% for cat in photocategories %}
                    <div data-filter=".{{cat.category}}" class="cbp-filter-item"> {{cat.category_name}} </div> | 
                    {% endfor %}
                    {% endif %}
                    {% if user.is_superuser %}
                    <a href="{% url "admin:pages_photographcategory_changelist" %}" target="_blank"><i class="fa fa-gear"></i></a>
                    {% endif %}
                </div><!--/end Filters Container-->

                <div id="grid-container" class="cbp-l-grid-agency">
                    {% if photographs %}
                    {% for photo in photographs %}
                    <div class="cbp-item {{photo.category}}">
                        <div class="cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{photo.image.url}}" alt="">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <ul class="link-captions">
                                            <li><a href="{{photo.image.url}}" class="cbp-lightbox" data-title="{{photo.description}}"><i class="rounded-x fa fa-search"></i></a></li>
                                        </ul>
                                        <div class="cbp-l-grid-agency-title">
                                        {{photo.description}}
                                        {% if user.is_superuser%}
                                        <a href="{% url "admin:pages_photograph_change" photo.id %}" target="_blank"><i class="fa fa-gear"></i></a>
                                        {% endif %}
                                        </div>
                                        <div class="cbp-l-grid-agency-desc">{{photo.date}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
            </div>
            {% if user.is_superuser%}
            <a href="{% url "admin:pages_photograph_add" %}" target="_blank"><i class="fa fa-plus"></i></a>
            {% endif %}
            <!--=== End Cube-Portfdlio ===-->
        </div>
    </section>
    <!-- End Portfolio Section -->

<!-- http://htmlstream.com/preview/unify-v1.9/page_home15.html -->
    <!-- Latest News -->
    <section id="news">
        <div class="container content-lg">
            <div class="title-v1">
                <h2>News Coverage</h2>
            </div>

            {% if news %}
                {% for new in news %}
                <div class="col-sm-6">
                    <div class="col-xs-8">
                        <h5>
                            <a href="{{new.link}}" target="_blank">{{new.title}}</a>
                            {% if user.is_superuser %}
                            <a href="{% url "admin:pages_news_change" new.id %}" target="_blank"><i class="fa fa-gear"></i></a>
                            {% endif %}
                        </h5>
                        <h6>{{new.author}}</h6>
                        {{new.description|safe}}
                    </div>
                    <div class="col-xs-4">
                        <img src="{{new.thumbnail.url}}" class="img-responsive" />
                    </div>
                </div>
                {% endfor %}
                {% endif %}

                {% if user.is_superuser %}
                <a href="{% url "admin:pages_news_add" %}" target="_blank"><i class="fa fa-plus"></i></a>
                {% endif %}
        </div>        
    </section>
    <!-- End Latest News -->

    <!-- Contacts BEGIN -->
    <section id="contact" class="contacts-section2 bg-color-light">
        <div class="container content-lg">
            <div class="title-v1">
                <h2>
                    {% if user.is_superuser %}
                    <a href="{% url "admin:pages_contact_change" contact.id %}" target="_blank"><i class="fa fa-gears"></i></a>
                    {% endif %}
                    Contact Us
                </h2>
                <!-- {{contact.text|safe}} -->
            </div>

            <div class="row">
                <div class="col-md-8 col-sm-6">
                    <div id="map" class="height-450"></div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <ul class="list-unstyled">
                        <li class="padding-bottom-10">
                            <i class="icon-custom icon-sm rounded-x icon-color-u fa fa-home"></i>
                            <h6>Address</h6>
                            <div>
                            <p>{{contact.address}}</p>
                            </div>
                        </li>
                        <li class="padding-bottom-10">
                            <i class="icon-custom icon-sm rounded-x icon-color-u fa fa-phone"></i>
                            <h6>Phone</h6>
                            <p>{{contact.phone}}</p>
                        </li>
                        <li class="padding-bottom-10 margin-bottom-10">
                            <i class="icon-custom icon-sm rounded-x icon-color-u fa fa-envelope"></i>
                            <h6>Email (Webmaster)</h6>
                            <a href="mailto:{{contact.email_webmaster}}" class="link-black">{{contact.email_webmaster}}</a>
                        </li>
                        <li class="padding-bottom-10">
                            <i class="icon-custom icon-sm rounded-x icon-color-u fa fa-envelope"></i>
                            <h6>Email (Professor)</h6>
                            <a href="mailto:{{contact.email_professor}}" class="link-black">{{contact.email_professor}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Contacts END -->

    <!-- Footer simple BEGIN -->
    <section class="footer-simple">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-4 col-xs-5">
            <p>2016 &copy; EEL | All Rights Reserved.</p>
          </div>
          <div class="col-md-6 col-sm-8 col-xs-7 text-right pull-right">
            <ul class="social-icons">
                <li><a class="social_facebook rounded-x" data-original-title="Facebook" href="#"></a></li>
                <li><a class="social_twitter rounded-x" data-original-title="Twitter" href="#"></a></li>
                <li><a class="social_googleplus rounded-x" data-original-title="Goole Plus" href="#"></a></li>
                <li><a class="social_pintrest rounded-x" data-original-title="Pinterest" href="#"></a></li>
                <li><a class="social_linkedin rounded-x" data-original-title="Linkedin" href="#"></a></li>
                {% if user.is_staff %}
                <li><a href="{% url "admin:logout" %}?next=/"><i class="fa fa-times"></i></a></li>
                {% else %}
                <li><a href="{% url "admin:login" %}?next=/"><i class="fa fa-gear"></i></a></li>
                {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- Footer simple END -->
</section>
<!-- End Contact Section -->

    <!-- JS Global Compulsory -->
    <script src="{% static "plugins/jquery/jquery.min.js" %}"></script>
    <script src="{% static "plugins/jquery/jquery-migrate.min.js" %}"></script>
    <script src="{% static "plugins/bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- JS Implementing Plugins -->
    <script src="{% static "plugins/smoothScroll.js" %}"></script>
    <script src="{% static "plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js" %}"></script>
    <script type="text/javascript">
        $.getScript("../../static/plugins/backstretch/jquery.backstretch.min.js", function() {
            $(".fullscreen-static-image").backstretch("{{intro.image.url}}");
        });
    </script>
    <script type="text/javascript" src="{% static "plugins/fullcalendar-2.6.0/lib/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "plugins/fullcalendar-2.6.0/fullcalendar.js" %}"></script>

    <!-- JS Page Level-->
    <script src="{% static "js/one.app.js" %}"></script>
    <script src="{% static "js/plugins/cube-portfolio/cube-portfolio-4.js" %}"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
    <script type="text/javascript" src="{% static "plugins/gmap/gmap.js" %}"></script>
    <script type="text/javascript" src="{% static "js/gmap.js" %}"></script>
    <script>
        jQuery(document).ready(function() {
            App.init();
            // App.initCounter();
            // App.initParallaxBg();
            {% if currentprojects %}
            {% for proj in currentprojects %}
            {% if proj.gmap_lat %}
            GMAP('#proj-map-{{proj.id}}',{{proj.gmap_lat}},{{proj.gmap_lng}},'{{proj.gmap_title}}', false);
            {% endif %}
            {% endfor %}
            {% endif %}
            // LoginForm.initLoginForm();
            // ContactForm.initContactForm();
            // OwlCarousel.initOwlCarousel();
            $("#fullcalendar").fullCalendar({
                events: {{calender|safe}},
                eventClick: function(event) {
                    if (event.url) {
                        window.open(event.url);
                        return false;
                    }
                }
            });
            GMAP('#map',{{contact.gmap_lat}},{{contact.gmap_lng}},'{{contact.gmap_title}}', true);
        });
    </script>
    <!--[if lt IE 9]>
        <script src="{% static "plugins/respond.js" %}"></script>
        <script src="{% static "plugins/html5shiv.js" %}"></script>
        <script src="assets/js/plugins/placeholder-IE-fixes.js"></script>
        <script src="assets/plugins/sky-forms-pro/skyforms/js/sky-forms-ie8.js"></script>
    <![endif]-->

    <!--[if lt IE 10]>
        <script src="assets/plugins/sky-forms-pro/skyforms/js/jquery.placeholder.min.js"></script>
    <![endif]-->
</body>
</html>